<h1>Title: <%= @note.title %></h1>

<h2>Author: <%= @note.author %></h2>

<p>Notes: <%= @note.body %></p>


<ul>
<li><%= link_to "Edit Note", edit_note_path %></li>

<li><%= link_to "Delete Note", note_path(@note),
data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
} %></li>
</ul>